.hero {
    padding: 40px 0 80px;
    position: relative;
    background-color: #fff;
}
.hero-content {
    padding-top: 50px;
}
.hero-hdd h2 {
    font-size: 54px;
    line-height: 1.1;
}
.hero-des p {
    font-size: 18px;
    width: 85%;
}
.all-btn a {
    font-size: 16px;
    font-weight: 500;
    background-color: #1F5063;
    color: #fff;
    padding: 10px 16px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.all-btn a:hover {
    background-color: #eee;
    color: #212121;
}
.hero-img {
    padding-top: 50px;
}
.hero-img img {
    width: 70%;
}

/* your-team  */

.your-team {
    background-color: #F8F8F7;
    padding: 100px 0;
}
.team-img {
    position: relative;
}
.team-img img {
    width: 280px;
}
.book-img img {
    position: absolute;
    width: 50px;
}
.book-img img.book-1 {
    top: 50%;
    left: 18%;
}
.book-img img.book-2 {
    top: -30px;
    left: 70%;
}
.book-img img.book-3 {
    width: 40px;
    top: 58%;
    left: 75%;
}
.team-info h3 {
    font-size: 40px;
}
.team-des p {
    font-size: 16px;
}
.team-list ul li {
    margin-bottom: 16px;
}
.team-list ul li img {
    width: 16px;
    margin-right: 8px;
}
.team-list ul li span {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Signika', sans-serif;
}

/* book-item  */

.book-item {
    padding: 80px 0;
}
.books-hdd h2 {
    font-size: 36px;
}
.books-des p {
    font-size: 16px;
    width: 38%;
    margin: auto;
}
.books-box {
    width: 60%;
    margin: auto;
}
.single-box {
    float: left;
    overflow: hidden;
    width: 33.33%;
}
.single-img img {
    width: 50px;
}
.single-des p {
    font-size: 16px;
    width: 65%;
    margin: auto;
}
.testimonial-item {
    padding: 16px 8px;
    height: 212px;
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(43, 80, 85, 0.15);
}
.owl-carousel .owl-item img {
    width: 80px;
    margin: auto;
    border-radius: 50%;
}
.course-heading h4 {
    font-size: 20px;
}
.book-content p {
    font-size: 14px;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
    display: none;
}
.book-author img {
    width: 26px !important;
    height: 26px !important;
    margin: 0 12px 0 0 !important;
}
.book-name p {
    font-size: 12px;
}
.book-name h5 {
    font-size: 12px;
}
.book-name span {
    font-size: 12px;
    color: #c3c3c3;
}
.books-img img {
    border-radius: 0px !important;
    width: 80px !important;
}

/* launch-training section  */

.launch-training {
    padding: 80px 0;
    background-color: #F8F8F7;
}
.training-hdd h2 {
    font-size: 42px;
}
.training-des p {
    font-size: 16px;
    width: 75%;
}
.training-ico img {
    width: 50px;
}
.fm-ico img {
    width: 40px;
}
.t-box-info h5 {
    font-size: 18px;
    font-weight: 500;
}
.t-box-info p {
    font-size: 14px;
    color: #697386;
}
.training-img img {
    width: 70%;
}

/* Boost section  */

.boost {
    padding: 80px 0;
}
.boost-img img {
    width: 70%;
}
.boost-hdd h2 {
    font-size: 40px;
}
.boost-des p {
    font-size: 16px;
    width: 75%;
}
.boost-ico img {
    width: 56px;
}
.boost-box-info h5 {
    font-size: 18px;
    font-weight: 500;
}
.boost-box-info p {
    font-size: 14px;
    color: #697386;
}

/* Refund section  */

.refund-section {
    background-color: #F8F8F7;
    padding: 80px 0;
}
.default-heading h3 {
    font-size: 40px;
}
.phone h4, .email h4, .refund h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.phone h4 i{
    color: #079b33;
    font-size: 20px;
}
.email h4 i{
    color: #ffbe2c;
    font-size: 20px;
}
.refund h4 i{
    color: #467fff;
    font-size: 20px;
}
.phone p a, .email p a {
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.phone p a:hover,
.email p a:hover{
    color: #00a78e;
}
.refund p {
    font-size: 16px;
    color: #212121;
}

/* pricing area */

.pricing{
    background-color: #fff;
    padding-bottom: 100px;
}
.pricing-table {
    width: 400px;
    margin: 0 auto;
    border-radius: 20px;
}
.cards{
    padding: 50px 24px;
    background-color: #F8F8F7;
    border-radius: 20px;
}
.price-f p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}
.price-f i {
    font-size: 16px;
    color: #00a78e;
}
.price-area p,
.price-area h3,
.price-area h5{
    color: #212121;
    margin-bottom: 15px;
}
.price-area h5 {
    margin-bottom: -12px;
    text-indent: -145px;
}
.price-area h2 {
    font-size: 140px;
    line-height: 1;
    color: #212121;
    font-weight: 700;
}
.price-area h3 {
    font-size: 22px;
    margin-top: -22px;
    text-indent: 145px;
    margin-bottom: 15px;
}
.price-area p{
    font-size: 12px;
    font-weight: 600;
    color: #212121;
}
.price-btn {
    margin-bottom: -75px;
}
.price-btn a, .submit-btn button {
    background-color: #1F5063;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease-in-out;
}
.price-btn a:hover, .submit-btn button:hover {
    background-color: #eee;
    color: #212121;
}

/* Responsive */

@media all and (max-width: 1400px){
    .hero-content {
        padding-top: 40px;
    }
    .hero-hdd h2 {
        font-size: 50px;
    }
    .training-hdd h2 {
        font-size: 40px;
    }
    .boost-hdd h2 {
        font-size: 34px;
    }
}
@media all and (max-width: 1200px){
    .hero-hdd h2 {
        font-size: 42px;
    }
    .hero-des p {
        font-size: 16px;
        width: 100%;
    }
    .hero-img img {
        width: 75%;
    }
    .team-img img {
        width: 270px;
    }
    .book-img img {
        width: 45px;
    }
    .book-img img.book-3 {
        width: 34px;
    }
    .team-info h3 {
        font-size: 33px;
    }
    .books-hdd h2 {
        font-size: 32px;
    }
    .books-des p {
        width: 50%;
    }
    .books-box {
        width: 65%;
    }
    .training-hdd h2 {
        font-size: 32px;
    }
    .boost-hdd h2 {
        font-size: 28px;
    }
    .phone h4, .email h4, .refund h4 {
        font-size: 20px;
    }
    .default-heading h3 {
        font-size: 32px;
    }
}
@media all and (max-width: 991px){
    .hero {
        padding: 50px 0 80px;
    }
    .hero-content {
        padding-top: 0;
    }
    .hero-hdd h2 {
        font-size: 46px;
    }
    .hero-des p {
        width: 78%;
        margin: auto;
    }
    .hero-img {
        padding-top: 0;
    }
    .books-des p {
        width: 68%;
    }
    .books-box {
        width: 80%;
    }
    .training-des p {
        width: 60%;
        margin: auto;
    }
    .boost-des p {
        width: 65%;
        margin: auto;
    }
}
@media all and (max-width: 767px){
    .hero {
        padding: 50px 0;
    }
    .hero-hdd h2 {
        font-size: 36px;
    }
    .hero-des p {
        font-size: 16px;
    }
    .your-team {
        padding: 70px 0 40px;
    }
    .team-info h3 {
        font-size: 30px;
    }
    .book-item {
        padding: 50px 0;
    }
    .books-hdd h2 {
        font-size: 28px;
    }
    .books-des p {
        width: 85%;
    }
    .books-box {
        width: 100%;
    }
    .single-des p {
        width: 70%;
    }
    .launch-training {
        padding: 50px 0;
    }
    .training-hdd h2 {
        font-size: 28px;
    }
    .training-des p {
        width: 84%;
    }
    .boost {
        padding: 50px 0;
    }
    .boost-des p {
        width: 84%;
    }
    .default-heading h3 {
        font-size: 30px;
    }
    .refund-section {
        padding: 50px 0;
    }
    .price-f p {
        font-size: 14px;
    }
    .price-f i {
        font-size: 16px;
    }
}
@media all and (max-width: 575px){
    .hero-hdd h2 {
        font-size: 30px;
    }
    .hero-des p,
    .books-des p,
    .training-des p,
    .boost-des p {
        font-size: 14px;
        width: 100%;
    }
    .team-img img {
        width: 200px;
    }
    .book-img img {
        width: 36px;
    }
    .book-img img.book-3 {
        width: 28px;
    }
    .team-info h3,
    .books-hdd h2,
    .training-hdd h2,
    .boost-hdd h2 {
        font-size: 26px;
    }
    .team-des p,
    .team-list ul li span {
        font-size: 14px;
    }
    .team-list ul li img {
        width: 14px;
        margin-right: 5px;
    }
    .single-img img {
        width: 40px;
    }
    .single-des p {
        font-size: 14px;
        width: 80%;
    }
    .training-ico img {
        width: 40px;
    }
    .fm-ico img {
        width: 36px;
    }
    .boost-ico img {
        width: 45px;
    }


    .default-heading h3 {
        font-size: 24px;
    }
}
@media all and (max-width: 480px){
    .hero-hdd h2 {
        font-size: 22px;
    }
    .hero-des p {
        font-size: 14px;
    }
    .all-btn a {
        font-size: 14px;
    }
    .team-info h3, 
    .books-hdd h2, 
    .training-hdd h2 {
        font-size: 20px;
    }
    .team-img img {
        width: 180px;
    }
    .book-img img {
        width: 32px;
    }
    .book-img img.book-3 {
        width: 24px;
    }
    .team-des p, 
    .team-list ul li span {
        font-size: 12px;
    }
    .team-list ul li {
        margin-bottom: 8px;
    }
    .team-list ul li img {
        width: 12px;
    }
    .hero-des p, 
    .books-des p, 
    .training-des p, 
    .boost-des p {
        font-size: 13px;
    }
    .single-box {
        float: none;
        width: 100%;
        margin-bottom: 24px;
    }
    .single-img img {
        width: 36px;
    }
    .single-des p {
        font-size: 13px;
        width: 100%;
    }
    .training-ico img {
        width: 36px;
    }
    .fm-ico img {
        width: 32px;
    }
    .t-box-info h5 {
        font-size: 16px;
    }
    .t-box-info p {
        font-size: 12px;
    }
    .boost-hdd h2 {
        font-size: 18px;
    }
    .boost-ico img {
        width: 40px;
    }
    .boost-box-info h5 {
        font-size: 16px;
    }
    .boost-box-info p {
        font-size: 13px;
    }
    .default-heading h3 {
        font-size: 22px;
    }
    .refund-section {
        padding: 50px 0;
    }
    .phone h4,
    .email h4, 
    .refund h4,
    .phone h4 i,
    .email h4 i,
    .refund h4 i {
        font-size: 16px;
    }
    .phone p a, .email p a, .refund p {
        font-size: 14px;
    }
    .pricing {
        padding-bottom: 70px;
    }
    .pricing-table {
        width: 280px;
        padding: 8px;
    }
    .cards {
        padding: 24px 8px;
        border-radius: 10px;
    }
    .price-f p {
        font-size: 13px;
    }
    .price-f i {
        font-size: 15px;
    }
    .price-area h2 {
        font-size: 115px;
    }
    .price-btn {
        margin-bottom: -55px;
    }
    .price-btn a {
        font-size: 14px;
    }
}