

@media screen and (min-width: 1520px) {
  .width-fill[data-vc-stretch-content="true"] .column-fill .vc_column-inner {
    max-width: 1550px;
    margin: 0 auto;
  }
}
.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

.title-carousel {
  font-family: "averta-semibold";
  font-size: 15px;
  color: #888a92;
  height: 22px;
  margin-bottom: 23px;
}
.cms-carousel-item {
    border-radius: 12px;
    padding: 21px 42px 24px 30px;
  }
  .post-thumbnail {
    max-width: 175px;
    /* overflow: hidden; */
    border-radius: 6px;
    float: left;
    margin-bottom: -62px;
  }
  .wrap-info {
    width: calc(100% - 175px);
    float: left;
  }
  .title-product {
    font-size: 18px;
    font-family: "averta-bold";
    color: #fff;
    display: block;
    margin-bottom: 4px;
  }
  .cms-carousel-item {
    border-radius: 12px;
    padding: 21px 42px 24px 30px;
  }
   /*------------------------------
    1.4 Base
------------------------------*/
}
address,
caption,
cite,
code,
dfn,
var {
  font-weight:400;
}

a, abbr, acronym, address, applet, b, big, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, html, i, iframe, img, ins, kbd, label, legend, object, q, s, samp, small, span, strike, strong, sub, sup, tbody, td, tfoot, th, thead, tr, tt, u, var {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
  }

a *, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .owl-carousel .owl-item img {
    transform-style: preserve-3d;
  }
  .wrap-view-more a {
    font-family:"averta-semibold";
    font-size:15px;
    display:inline-block;
    width:155px;
    background-color:#fff;
    color:#7151ed;
    height:44px;
    line-height:38px;
    margin:0;
    border:3px solid #7151ed;
    border-radius:6px;
  }
  .wrap-view-more a:hover {
    background-color:#7151ed;
    color:#fff;
  }
  .carousel-testimonials {
    text-align:center;
    padding:30px 0px;
  }
  .carousel-testimonials h4 {
    font-family:"averta-Semibold";
    font-size:15px;
    color:#fff;
    margin-bottom:73px;
  }
  .carousel-testimonials p {
    font-size:19px;
    font-family:"averta-semibold";
    color:#fff;
    line-height:32px;
    margin-bottom:22px;
  }
  @media screen and (min-width:1200px) {
    .carousel-testimonials .cms-carousel-item {
      max-width:780px;
      margin:0 auto;
    }
  }
  .carousel-testimonials .post-thumbnail {
    border-radius:10px;
    display:inline-block;
    max-width:50px;
    /* overflow:hidden; */
  }
  .carousel-testimonials .wrap-image {
    align-items:center;
    display:flex;
    justify-content:center;
    margin:0 auto;
  }
  .carousel-testimonials .wrap-info {
    display:inline-block;
    font-size:16px;
    font-family:"averta-semibold";
    line-height:16px;
    text-align:left;
    color:#fff;
    padding-left:15px;
  }
  .carousel-testimonials .wrap-info span {
    opacity:0.68;
  }
  .carousel-testimonials .wrap-info h5 {
    color:inherit;
    margin-bottom:7px;
  }
  .carousel-testimonials .owl-stage-outer {
    margin-bottom:54px;
  }
  .carousel-testimonials .owl-controls .owl-dot span {
    width:13px;
    height:13px;
  }
  .owl-nav .owl-prev,
  .owl-nav .owl-next {
    display:inline-block;
  }
  .owl-nav .owl-next {
    float:right;
  }
  .cms-carousel-item {
    border-radius:12px;
    padding:21px 42px 24px 30px;
  }
  .cms-carousel-item .woocommerce {
    margin-bottom:18px;
  }
  @media screen and (max-width:1700px) {
    .cms-carousel-item {
      padding:15px;
    }
  }
  .owl-dots {
    position:absolute;
    top:-41px;
    right:90px;
  }
  @media screen and (max-width:767px) {
    .owl-dots {
      right:0;
    }
  }
  .owl-dots .owl-dot {
    display:inline-block;
    margin:0 6px;
  }
  .owl-dots .owl-dot span {
    width:12px;
    height:12px;
    border-radius:100%;
    border:2px solid #dbdce1;
    display:inline-block;
  }
  .owl-dots .owl-dot.active span,
  .owl-dots .owl-dot:hover span {
    border-color:#7151ed;
    background-color:#7151ed;
  }
  @media screen and (max-width:767px) {
    .owl-dots {
      top:auto;
      left:0;
      bottom:30px;
    }
  }
  .owl-stage-outer {
    padding-bottom:70px;
  }
  .title-carousel {
    font-family:"averta-semibold";
    font-size:15px;
    color:#888a92;
    height:22px;
    margin-bottom:23px;
  }
  .title-product {
    font-size:18px;
    font-family:"averta-bold";
    color:#fff;
    display:block;
    margin-bottom:4px;
  }
  .title-product:hover {
    color:#7151ed;
  }
  .excerpt-product {
    margin-bottom:18px;
  }
  .view-shop {
    border-radius:100px;
    height:34px;
    line-height:34px;
    font-size:14px;
    font-family:"averta-bold";
    padding:0 25px;
    display:inline-block;
    background-color:rgba(255, 255, 255, 0.68);
  }
  .view-shop:hover {
    background-color:#fff;
  }
  .view-shop i {
    margin-left:10px;
    position:relative;
    top:1px;
  }
  @media screen and (max-width:499px) {
    .view-shop {
      padding:0 15px;
    }
  }
  .product-author,
  .excerpt-product {
    font-size:14px;
    font-family:"averta-regular";
    color:rgba(255, 255, 255, 0.68);
  }
  .product-author a,
  .excerpt-product a {
    font-size:14px;
    font-family:"averta-regular";
    color:rgba(255, 255, 255, 0.68);
  }
  .product-author a:hover,
  .excerpt-product a:hover {
    color:#7151ed;
  }
  .product-author {
    margin-bottom:9px;
  }
  .woocommerce-product-rating {
    color:rgba(255, 255, 255, 0.5);
    font-size:11px;
    font-family:"averta-regular";
  }
  .woocommerce-product-rating .star-rating {
    color:#fff;
    font-size:14px;
    margin-top:1px;
  }
  .woocommerce-product-rating .star-rating:before {
    color:#fff;
  }

  @media screen and (max-width:1700px) {
    .post-thumbnail {
      margin-bottom:0;
      max-width:none;
      width:30%;
    }
  }
  @media screen and (max-width:499px) {
    .post-thumbnail {
      width:20%;
    }
  }
  .wrap-info {
    width:calc(100% - 175px);
    float:left;
  }
  @media screen and (max-width:1700px) {
    .wrap-info {
      width:70%;
      padding-right:10px;
      margin-bottom:20px;
    }
  }
  @media screen and (max-width:499px) {
    .wrap-info {
      width:80%;
    }
  }
  .owl-controls .owl-dots {
    text-align:center;
  }
  .owl-controls .owl-dot {
    display:inline-block;
    margin:0 6px;
  }
  .owl-controls .owl-dot span {
    width:9px;
    height:9px;
    border-radius:100%;
    border:2px solid #fff;
    display:inline-block;
  }
  .owl-controls .owl-dot.active span,
  .owl-controls .owl-dot:hover span {
    background-color:#fff;
  }
  .owl-controls .owl-nav {
    position:absolute;
    top:50%;
    left:0;
    right:0;
    transform:translatey(-50%);
  }
  .owl-controls .owl-prev,
  .owl-controls .owl-next {
    width:60px;
    height:60px;
    position:absolute;
    top:50%;
    transform:translatey(-50%);
    opacity:0;
    visibility:hidden;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.5);
    transition:all 0.3s ease 0s;
  }
  .owl-controls .owl-prev i,
  .owl-controls .owl-next i {
    color:#fff;
    font-size:28px;
    line-height:60px;
  }
  .owl-controls .owl-prev:hover,
  .owl-controls .owl-next:hover {
    background-color:#000;
    transition:background-color 0.3s ease 0s;
  }
  .owl-controls .owl-next {
    right:0;
  }
  .owl-controls .owl-prev {
    left:0;
  }
  .cms-carousel:hover .owl-prev,
  .cms-carousel:hover .owl-next {
    opacity:1;
    visibility:visible;
  }
  .carousel-team-1 {
    margin:30px 0;
    padding-bottom:30px;
    max-width:875px;
  }
  .carousel-team-1 .post-thumbnail {
    border-radius:12px;
    overflow:hidden;
  }
  .carousel-team-1 .owl-controls .owl-dots {
    margin:20px 0;
  }
  .carousel-team-1 .cms-carousel-item {
    position:relative;
  }
  .carousel-team-1 .cms-carousel-item:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    border-radius:12px;
    transition:all 0.3s ease 0s;
    background-color:rgba(0, 0, 0, 0);
  }
  .carousel-team-1 .cms-carousel-item:hover:before {
    background-color:rgba(0, 0, 0, 0.5);
  }
  .carousel-team-1 .cms-carousel-item:hover .wrap-info {
    visibility:hidden;
    opacity:0;
    transition:all 0.3s ease 0s;
  }
  .carousel-team-1 .cms-carousel-item:hover .wrap-social {
    visibility:visible;
    opacity:1;
    transition:all 0.3s ease 0s;
  }
  .carousel-team-1 .cms-carousel-item:hover .wrap-social li:first-child {
    margin-left:0;
    transition:all 0.3s ease 0s;
  }
  .carousel-team-1 .wrap-info {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
    visibility:visible;
    opacity:1;
    padding:8px 15px 10px;
    transition:all 0.3s ease 0s;
    border-radius:0 0 12px 12px;
    background-image:-webkit-linear-gradient(left, #000, rgba(0, 0, 0, 0.3));
    background-image:linear-gradient(left, #000, rgba(0, 0, 0, 0.3));
  }
  .carousel-team-1 .wrap-social {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    visibility:hidden;
    opacity:0;
    z-index:2;
    padding:11px 15px;
    border-radius:0 0 12px 12px;
    transition:all 0.3s ease 0s;
    background-image:-webkit-linear-gradient(left, #000, rgba(0, 0, 0, 0.3));
    background-image:linear-gradient(left, #000, rgba(0, 0, 0, 0.3));
  }
  .carousel-team-1 .wrap-social li {
    display:inline-block;
    margin:0 10px;
  }
  .carousel-team-1 .wrap-social li:last-child {
    margin-right:0;
  }
  .carousel-team-1 .wrap-social li:first-child {
    margin-left:10px;
    transition:all 0.3s ease 0s;
  }
  .carousel-team-1 .wrap-social a {
    font-size:24px;
    color:#fff;
  }
  .carousel-team-1 .wrap-social a:hover {
    color:#7151ed;
  }
  .carousel-team-1 .wrap-social a img {
    max-width:24px;
  }
  .carousel-team-1 h5 {
    font-family:"averta-semibold";
    font-size:18px;
    margin-bottom:1px;
    color:#fff;
  }
  .carousel-team-1 span {
    color:#c2c1ca;
    font-size:14px;
    font-family:"averta-regular";
  }
  .carousel-team-2 {
    margin:30px 0;
    padding-bottom:30px;
  }
  .carousel-team-2 h5 {
    font-size:18px;
    color:#1e1e27;
    margin-bottom:10px;
    font-family:"averta-semibold";
  }
  .carousel-team-2 span {
    color:#c2c1ca;
    font-family:"averta-regular";
    font-size:14px;
  }
  .carousel-team-2 .cms-carousel-item {
    text-align:center;
  }
  .carousel-team-2 .owl-controls .owl-dots {
    margin-top:20px;
  }
  .carousel-team-2 .wrap-thumbnail {
    border-radius:100%;
    overflow:hidden;
    margin-bottom:27px;
    position:relative;
  }
  .carousel-team-2 .wrap-thumbnail:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    transition:all 0.3s ease 0s;
    background-color:rgba(0, 0, 0, 0);
  }
  .carousel-team-2 .wrap-thumbnail:hover:before {
    background-color:rgba(0, 0, 0, 0.5);
    transition:all 0.3s ease 0s;
  }
  .carousel-team-2 .wrap-thumbnail:hover .wrap-social {
    opacity:1;
    visibility:visible;
    transform:translatey(-50%) scale(1);
  }
  .carousel-team-2 .wrap-social {
    position:absolute;
    top:50%;
    transform:translatey(-50%) scale(0);
    visibility:hidden;
    opacity:0;
    left:0;
    right:0;
    z-index:2;
    padding:15px 15px 9px;
    border-radius:0 0 12px 12px;
    transition:all 0.3s ease 0s;
  }
  .carousel-team-2 .wrap-social li {
    display:inline-block;
    margin:0 5px;
  }
  .carousel-team-2 .wrap-social li:last-child {
    margin-right:0;
  }
  .carousel-team-2 .wrap-social li:first-child {
    margin-left:0;
  }
  .carousel-team-2 .wrap-social a {
    font-size:24px;
    color:#fff;
    display:inline-block;
    width:24px;
  }
  .carousel-team-2 .wrap-social a:hover {
    color:#7151ed;
  }
  .carousel-team-2 .wrap-social a img {
    max-width:24px;
  }
  .bj-color-white:before {
    color:white !important;
  }
  .bj-color-black:before {
    color:black !important;
  }
  [class^="zmdi-"], [class*=" zmdi-"] {
    display: inline-block;
    font-family: 'Material-Design-Iconic-Font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }