/* Default Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
body{
    background-color: #EE663A;
    padding: 55px;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container-mask{
    width: 90%;
    margin: 0 auto;
}

/* Header Section Style */

.menu-area{
    background-color: #fff;
    position: relative;
}
.logo{
    width: 18%;
}
.logo img {
    width: 180px;
}
.t-bar{
    width: 82%;
}
.toggle-bars{
    display: none;
}
.toggle-bars i{
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
}
.menu-item{
    width: 85%;
}
.menu-btn{
    width: 15%;
}
.toggle-item li{
    display: inline-block;
    margin: 40px 20px 40px 20px;
}
.toggle-item li a{
    display: block;
    padding: 10px 0;
    color: #000;
    transition: all 0.3s linear;
    font-size: 15px;
}
.toggle-item li a.fwb{
    font-weight: 800;
}
.toggle-item li a:hover{
    color: #ee663a;
}
.menu-end li{
    display: inline-block;
    margin: 40px 0 40px 30px;
}
.menu-end li a{
    display: block;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    transition: all 0.3s linear;
}
.menu-end li a:hover{
    color: #EE663A;
}
.menu-end li a.m-btn{
    display: block;
    padding: 10px 15px;
    background-color: #EE663A;
    font-weight: 800;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
}
.menu-end li a.m-btn:hover{
    background-color: #EE663A;
    color: #000;
}


/*
.r-img {
    width: 90%;
}
.r-img img{
    width: 100% !important;
}
.l-content {
    padding-top: 40px;
}
.hero-content h2 {
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.hero-content p {
    padding-left: 26px;
    font-size: 14px;
    font-weight: 600;
}
.our-address h5 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.our-address p {
    font-size: 24px;
}
.our-address span {
    display: block;
}
.our-address p.mll {
    font-size: 14px;
    font-weight: 800;
    margin: 22px 0;
}
*/

/* contact Section */
/*
.contact{
    background-color: #fff;
    position: relative;
}
.line-y img{
    width: 100%;
    margin-top: -25px;
}
.watch-tour img {
    width: 285px;
    position: absolute;
    top: -35px;
    right: 10%;
    transition: all 0.4s linear;
}
.watch-tour img:hover {
    box-shadow: 0 0 13px #000;
}
.contact-form h2 {
    font-size: 44px;
}
.my-form {
    width: 55%;
}
.nsf {
    overflow: hidden;
}
.common {
    width: 49%;
    float: left;
    overflow: hidden;
    margin-bottom: 15px;
}
.f-name, .email{
    margin-right: 1%;
}
.l-name, .subject{
    margin-left: 1%;
}
.common input, .message textarea {
    width: 100%;
    border: 1px solid #eaeaea;
    font-size: 12px;
    padding: 10px;
}
.submit-btn button, .submit-btn a {
    font-size: 12px;
    border: none;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    transition: all 0.3s linear;
}
.submit-btn input:hover, .submit-btn button:hover, .submit-btn a:hover  {
    box-shadow: 0 0 10px #000;
}
*/

/* Footer area */

.footer{
    background-color: #fff;
}
.f-top img{
    width: 100%;
}
.footer-menu li{
    display: inline-block;
    margin: 0 30px;
}
.footer-menu li a{
    display: block;
    padding: 5px 0;
    color: #000;
    transition: all 0.3s linear;
    font-size: 15px;
    position: relative;
}
.footer-menu li a::before{
    content: '';
    display: block;
    clear: both;
    height: 2px;
    width: 0;
    background-color: #000;
    position: absolute;
    top: 90%;
    left: 0;
    transition: all 0.3s linear;
}
.footer-menu li a:hover::before{
    width: 100%;
}
.contact-s span{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}
.address {
    margin-top: 0 !important;
}
.copyright p{
    font-size: 12px;
}

/* pricing area */
/*
.pricing{
    background-color: #fff;
    padding-bottom: 100px;
}
.tph h3{
    font-size: 32px;
}
.card{
    position: relative;
    width: 50%;
    padding: 40px;
    border-radius: 50px;
    background-color: #EE663A;
}
.price-card p{
    font-size: 15px;
    font-weight: 600;
}
.price-area h4{
    font-size: 16px;
}
.price-area h2{
    font-size: 160px;
}
.price-area h3{
    font-size: 22px;
    margin-bottom: 10px;
}
.price-f p{
    font-size: 17px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    margin-top: 14px;
    margin-left: 20px; 
}

.price-f span {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #f6bd3c;
    border-radius: 50%;
    margin-right: 15px;
}
.buy-btn a {
    background-color: #f6bd3c;
    padding: 10px 45px;
    border-radius: 30px;
    color: #000;
    font-size: 15px;
    font-weight: 800;
    transition: all 0.2s linear;
}
.buy-btn a:hover {
    background: #fff;
    color: #EE663A;
    box-shadow: 0 0 10px #c3c3c3;
}

.circle-box .box {
    height: 70px;
    width: 80px;
    margin: 50px auto;
    position: absolute;
    bottom: -13%;
    left: -3%;
}
.circle-box .box .circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #a097cc;
    float: left;
    overflow: hidden;
    margin: 6px 4px;
}
.color-box img {
    width: 70px;
    position: absolute;
    top: -3%;
    right: -3%;
}
*/
/* Courses */
.course-bckground{
    background-color: white;
}

/* Responsive */

@media all and (max-width: 1200px){
	.logo img {
		width: 160px;
	}
    .toggle-item li{
        margin: 40px 13px 40px 13px;
    }
    .menu-end li{
        display: inline-block;
        margin: 40px 0 40px 15px;
    }
    .hero-content h2 {
        font-size: 45px;
        margin-bottom: 40px;
    }

}
@media all and (max-width: 1100px){
		.toggle-item li {
			margin: 40px 10px 40px 10px;
		}
		.toggle-item li a {
			font-size: 14px;
		}
		.menu-end li {
			margin: 40px 0 40px 0;
		}
		.menu-end li a.m-btn {
			font-size: 14px;
		}
}
@media all and (max-width: 1072px){
    .toggle-item li{
        margin: 40px 8px 40px 8px;
    }
    .menu-end li{
        display: inline-block;
        margin: 40px 0 40px 0;
    }
    .menu-end li a.m-btn{
        padding: 10px 10px;
    }
    .hero-content h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .l-content {
        padding-top: 15px;
    }
    .our-address p.mll {
        margin: 10px 0;
    }
}
@media all and (max-width: 991px){
	body {
		padding: 42px;
	}
    .logo{
        width: 50%;
    }
	.logo img {
		width: 180px;
	}
    .t-bar{
        width: 50%;
    }
    .toggle-bars{
        display: block;
    }
    .main-menu{
        width: 80%;
        display: none;
        text-align: center;
        position: absolute;
        top: 100%;
        left: 10%;
		z-index: 9;
        background-color: #fff;
    }
    .menu-item{
        width: 100%;
    }
    .menu-btn{
        width: 100%;
    }
    .toggle-item li{
        display: block;
        margin: 0;
    }
    .menu-end li{
        display: inline-block;
        margin-left: 0;
    }
    .hero-content h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    .hero-content p {
        font-size: 13px;
        padding-left: 0;
        line-height: 1.2;
    }
    .our-address p {
        font-size: 20px;
        line-height: 1.2;
    }
    .contact-form h2 {
        font-size: 32px;
    }
    .my-form {
        width: 65%;
    }


    /* hero */

    .watch-tour img {
        width: 210px;
        top: -27px;
    }
    .footer-menu li {
        margin: 0 15px;
    }

}

@media all and (max-width: 767px){
    body{
        padding: 30px;
    }
    /* .r-img{ */
        /* width: 75%; */
        /* margin: auto; */
    /* } */
    /* .r-img img{ */
        /* width: 100%; */
    /* } */
    /* .watch-tour img { */
        /* width: 150px; */
        /* top: -19px; */
    /* } */
    /* .contact-form h2 { */
        /* font-size: 28px; */
    /* } */
    /* .my-form { */
        /* width: 85%; */
    /* } */

    .footer-menu li {
        margin: 0 10px;
    }
}
@media all and (max-width: 500px){
    body{
        padding: 16px;
    }
    .container-mask{
        width: 100%;
        padding: 0 10px;
    }
    .toggle-bars {
        padding-right: 15px;
    }
    .r-img{
        width: 85%;
    }
    .hero-content h2 {
        font-size: 24px;
    }
    .our-address p {
        font-size: 16px;
    }
    .my-form {
        width: 100%;
    }
    .common {
        width: 100%;
        float: none;
    }
    .f-name, .email {
        margin-right: 0;
    }
    .l-name, .subject {
        margin-left: 0;
    }

    .footer-menu li a{
        display: inline-block;
    }
    .footer-menu li {
        display: block;
        margin: 0;
    }
	.master img {
		width: 54px;
	}
	.visa img {
		width: 64px;
	}
}

@media all and (max-width: 837px){
    .fgt-pwd{
        display: inline-block;
        margin-top: 5px;
    }
}

.a-color{
    color:#000 !important;
}



/* Header Footer End */
