:root {
    --white-color : #fff;
    --body-bg-color : #181818;
    --primary-color : rgba(255,255,255, 0.8);
    --secondary-color : rgba(255,255,255, 0.4);
    --menu-bg-color : rgba(255,255,255,0.1);
    --tg-item-hover-color : rgba(255,255,255, .12);
    --footer-border-color : rgba(255,255,255, .2);
    --modal-bg-color : #2A2A2A;
    --modal-heading-p-color : rgba(255,255,255,0.5);
    --menu-sticky-color : #303030;
    --box-menu-border-color : rgba(255,255,255,0.15);
    --form-bg-color : rgba(255,255,255,0.05);
}
.light-mode {
    --white-color : #000;
    --body-bg-color : rgba(231,231,231,1);
    --primary-color : rgba(0,0,0, 0.8);
    --secondary-color : rgba(0,0,0, 0.4);
    --menu-bg-color : rgba(0,0,0,0.1);
    --tg-item-hover-color : rgba(0,0,0, .12);
    --footer-border-color : rgba(0,0,0, .2);
    --modal-bg-color : rgba(213,213,213,1);
    --modal-heading-p-color : rgba(0,0,0,0.5);
    --menu-sticky-color : rgba(207,207,207,1);
    --box-menu-border-color : rgba(0,0,0,0.15);
    --effect-color : rgba(255,255,255,0.8);
    --form-bg-color : rgba(0,0,0,0.05);
}

/* member Section */

.member{
    background-color: var(--body-bg-color);
    padding-left: 270px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 80px;
}
.member-name h2 {
    font-size: 40px;
    color: var(--white-color);
}
.profile-btn a {
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    background: #4CB47E;
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
}
.profile-btn a:hover {
    background: #409B7B;
}
.table{
    width: 1000px;
    background-color: var(--form-bg-color);
}
.member-table tr{
    border: 1px solid var(--footer-border-color);
}
.member-table td{
    padding: 0 10px;
    border-right: 1px solid var(--footer-border-color);
    color: var(--primary-color);
    line-height: 4;
    font-size: 14px;
    column-span: 32px;
}
.member-table td:first-child{
    line-height: 4;
}
.member-table td:last-child{
    line-height: 1;
}
.member-table td.llh{
    line-height: 4;
}
.border-bm{
    border-bottom: 1px solid #dee2e6;
}
.member-table td a {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    background: #4CB47E;
    line-height: 2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}
.member-table td a:hover{
    background: #409B7B;
}
/* Track */
::-webkit-scrollbar-track {
  background: #999; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #eee; 
}

/* Responsive  */

@media all and (max-width: 575px){
    .member {
        padding-left: 24px !important;
    }
    .member-name h2 {
        font-size: 26px;
    }
}