/* Hero section */

.hero {
    background-color: #fff;
    padding-bottom: 60px;
    position: relative;
}
.hero-left {
    padding-top: 100px;
}
.main-hd h2 {
    font-size: 70px;
}
.hero-description p {
    font-weight: 600;
    font-size: 22px;
    width: 73%;
    letter-spacing: 0.5px;
}
.hero-img img {
    width: 90%;
}

/* color-bg section  */

.color-bg{ 
    background-color: #fff;
}
.common{
    padding: 24px 0;
}
.fst-color .fst-1{
    width: 50%;
    background-color: rgba(245, 190, 39, .1);
}
.fst-color .fst-2{
    width: 50%;
    background-color: #F5BE27;
}
.snd-color .snd-1{
    width: 38%;
    background-color: rgba(238, 103, 48, .1);
}
.snd-color .snd-2{
    width: 62%;
    background-color: #EE6730;
}
.trd-color .trd-1{
    width: 25%;
    background-color: rgba(236, 43, 58, .1);
}
.trd-color .trd-2{
    width: 75%;
    background-color: #EC2B3A;
}
.frt-color .frt-1{
    width: 13%;
    background-color: rgba(209, 36, 104, .1);
}
.frt-color .frt-2{
    width: 87%;
    background-color: #D12468;
}
.fif-color .fif{
    width: 100%;
    background-color: #6F0C64;
}

/* owl slider section  */

.book-slider {
    background-color: #fff;
    padding: 80px 0;
}
.book-slider-heading {
    margin-bottom: 124px;
}
.book-slider-heading h2 {
    font-size: 72px;
}

.our-carousel {
    margin-bottom: 100px;
}
.item{
    border-right: 1px solid #1f1f1f;
    padding: 15px;
    cursor: pointer;
}
.testimonial-item {
    position: relative;
    transition: all 0.2s ease-in-out;
}
/* .item-info {
    display: none;
}
.book-info {
    padding: 24px;
}
.b-length p,
.b-lang p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 8px;
}
.b-length i,
.b-lang i {
    color: #fff;
    font-size: 20px;
}
.pris p {
    background-color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 2px 20px;
    border-radius: 8px 8px 0 0;
    margin-top: 8px;
}
.pris a {
    padding: 0px 27px;
    border-radius: 0 0 8px 8px;
    font-size: 30px;
    color: #fff;
    background-color: #000;
    line-height: 1;
} */
.item-info p {
    font-weight: 600;
    font-size: 22px;
    padding: 0 24px 16px;
    transition: all 0.2s ease-in-out;
}
.img-thumb {
    background: #ddd;
    padding: 70px 50px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.4);
}
.owl-theme .owl-dots{
    display: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: -100px;
    z-index: 2;
    font-size: 30px;
    border: 1px solid #000;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #000;
    color: #fff;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 50px;
}
.owl-carousel .owl-nav button.owl-next{
    right: 50px;
}
.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    display: inline-block;
    padding: 0px 24px;
}
.testimonial-item:hover {
    border-radius: 20px;
    background-color: #C84743;
}
.testimonial-item:hover .item-info p {
    color: #fff;
}
.testimonial-item:hover .img-thumb {
    background-color: #C84743;
}
/* .testimonial-item:hover .item-info {
    display: block;
} */

/* meet-up section  */

.meet-up {
    background-color: #F9F9F9;
    padding: 80px 0;
}
.meet-heading h2{
    font-size: 72px;
}
.meet-description p {
    font-size: 24px;
    width: 80%;
}
.my-counte span {
    font-size: 50px;
    font-weight: 700;
    color: #F5BE27;
}
.my-counte h3 {
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.meet-img img {
	width: 100%;
}

/* book-store Section */

.book-store {
    background-color: #fff;
    padding: 80px 0;
    position: relative;
}
.book-store-heading {
    margin-bottom: 100px;
    border-bottom: 3px solid #000;
}
.book-store-heading h2 {
    font-size: 72px;
    margin-bottom: 50px;
}
.box-menu {
	padding-right: 50px;
}
.box-menu ul li {
    cursor: pointer;
    font-size: 24px;
    color: rgba(0,0,0,0.6);
    padding: 10px 0;
    transition: all 0.2s ease-in-out;
}
.box-menu ul li:hover {
    background-color: #F5BE27;
    text-indent: 8px;
    color: #000;
}
.box-item{
    margin-bottom: 100px;
}
.box-img {
    background-color: rgba(0,0,0,0.05);
    padding-bottom: 70px;
    border-radius: 20px;
}
.box-img img {
    width: 200px;
    margin-top: -30px;
}
.box-info h3{
    font-family: 'Darker Grotesque', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
}
.box-info p{
    font-size: 24px;
    color: rgba(0,0,0,0.5);
}
.color-cx {
    width: 25%;
    position: absolute;
    left: 0;
    bottom: 80px;
}
.color-common {
    height: 48px;
}
.color-1 {
    background-color: #F5BE27;
    width: 50%;
}
.color-2 {
    width: 80%;
    background-color: #EE6730;
}
.color-3 {
    background-color: #EC2B3A;
    width: 100%;
}
.color-4 {
    width: 70%;
    background-color: #D12468;
}
.color-5 {
    background-color: #6F0C64;
    width: 40%;
}

/* Refund section  */

.refund-section {
    background-color: #F9F9F9;
    padding: 60px 0;
}
.default-h h3 {
    font-size: 40px;
}
.phone h4, .email h4, .refund h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-family: 'Darker Grotesque', sans-serif;
}
.phone h4 i{
    color: #55C79A;
    font-size: 20px;
}
.email h4 i{
    color: #F5BE27;
    font-size: 20px;
}
.refund h4 i{
    color: #B6506B;
    font-size: 20px;
}
.phone p a, .email p a{
    color: #000;
    font-size: 21px;
    position: relative;
    display: inline-block;
}
.refund p{
    color: #000;
    font-size: 21px;
    position: relative;
    display: inline-block;
}
.phone p a:before,
.email p a:before,
.refund p a:before{
    content: '';
    display: block;
    clear: both;
    height: 1px;
    width: 0;
    background-color: #000;
    transition: all 0.2s linear;
    position: absolute;
    bottom: 0;
    left: 0;
}
.phone p a:hover:before,
.email p a:hover:before,
.refund p a:hover:before{
    width: 100%;
}

/* pricing area */

.pricing{
    background-color: #fff;
    padding-bottom: 80px;
}
.card{
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(0,0,0,0.03);
}
.card:hover{
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}
.price-card p,
.price-card h3,
.price-card h5,
.price-card a{
    color: #000;
    margin-bottom: 15px;
}
.price-card p{
    font-size: 14px;
    font-weight: 600;
}
.price-area h5 {
    margin-bottom: -12px;
    text-indent: -100px;
}
.price-area h2 {
    font-size: 140px;
    line-height: 1;
    color: #F5BE27;
    font-weight: 700;
}
.price-area h3 {
    font-size: 22px;
    margin-top: -22px;
    text-indent: 100px;
    margin-bottom: 15px;
}
.price-f p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}
.price-f i {
    margin-right: 5px;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    background-color: #F8D404;
}
.buy-btn a, .buy-btn button {
    font-size: 18px !important;
    padding: 0px 0 10px 15px !important;
}
.buy-btn a span {
    font-size: 24px !important;
    padding: 2px 16px 12px !important;
    margin-left: 14px !important;
}

/* Cancel Membership */
.img-align {
    margin-top : 350px;
}

/* Responsive */

@media all and (max-width: 1400px){
    /* hero section  */
    .main-hd h2 {
        font-size: 60px;
    }
    .common {
        padding: 22px 0;
    }
    /* .book-slider */
    .book-slider-heading h2 {
        font-size: 60px;
    }
    /* meet-up  */
    .meet-heading h2 {
        font-size: 64px;
    }
    /* book store  */
    .book-store-heading h2 {
        font-size: 60px;
    }
    .color-common {
        height: 44px;
    }
}
@media all and (max-width: 1200px){
    /* hero */
    .hero-left {
        padding-top: 30px;
    }
    .main-hd h2 {
        font-size: 50px;
    }
    .common {
        padding: 20px 0;
    }
    /* .book-slider */
    .book-slider-heading h2 {
        font-size: 50px;
    }
    /* .meet-up */
    .meet-heading h2 {
        font-size: 52px;
    }
    .meet-description p {
        font-size: 22px;
        width: 100%;
    }
    /* book-store section  */
    .book-store-heading h2 {
        font-size: 50px;
    }
    .color-common {
        height: 40px;
    }
    /* price section  */
    .mob-img {
        width: 90%;
    }
}
@media all and (max-width: 991px){
    /* hero */
    .hero-left {
        margin-bottom: 50px;
    }
    .hero-description p {
        margin: 0 auto;
    }
    .hero-img img {
        width: 70%;
    }
    .common {
        padding: 18px 0;
    }
    /* meet-up section  */
    .meet-left {
        margin-bottom: 60px;
    }
    .meet-img img {
        width: 80%;
    }
    /* book store section  */
    .book-store {
        padding: 80px 0 0;
    }
    .book-store-heading {
        margin-bottom: 48px;
    }
    .box-menu {
        padding-right: 0;
        margin-bottom: 80px;
    }
    .color-cx {
        display: none;
    }
    /* Refund section  */
    .refund-area{
        padding: 50px 0;
    } 
    /* Cancel Membership    */
    .img-align {
        margin-top: 0px;
    }
}

@media all and (max-width: 767px){
    /* hero */
    .main-hd h2 {
        font-size: 36px;
    }
    .hero-description p {
        font-size: 20px;
        width: 92%;
    }
    .hero-img img {
        width: 85%;
    }
    .common {
        padding: 16px 0;
    }
    /* book slider section  */
    .book-slider {
        padding: 60px 0;
    }
    .book-slider-heading h2 {
        font-size: 36px;
    }
    /* meet up section  */
    .meet-heading h2 {
        font-size: 36px;
    }
    .meet-description p {
        font-size: 20px;
    }
    .my-counte span {
        font-size: 40px;
    }
    .meet-img img {
        width: 90%;
    }
    /* book-store section  */ 
    .book-store-heading h2 {
        font-size: 36px;
    }
    .box-img img {
        width: 160px;
    }
    .box-info h3 {
        font-size: 24px;
    }
    .box-info p {
        font-size: 20px;
    }
    /* refund section  */ 
    .service-h h3 {
        font-size: 24px;
    }
    .refund-area {
        padding: 0;
    }
    /* pricing area */
    
}
@media all and (max-width: 575px){
    /* book-slider section  */
    .book-slider-heading h2 {
        font-size: 30px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 15px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 15px;
    }
    .item {
        border-right: 1px solid transparent;
    }
    /* book store  */
    .box-menu ul li {
        font-size: 22px;
    }
    .box-img img {
        width: 250px;
    }
    /* meet-up area */
    .meet-heading h2 {
        font-size: 30px;
    }
    .my-counte span {
        font-size: 32px;
    }
    .my-counte h3 {
        font-size: 16px;
    }
    /* pricing area */
    .pricing {
        padding-bottom: 50px;
    }
    .card {
        width: 280px;
    }    
    .price-area h2 {
        font-size: 120px;
    }
    .price-area h3 {
        font-size: 18px;
    }
}
@media all and (max-width: 480px){
    .main-hd h2 {
        font-size: 24px;
    }
    .hero-description p {
        font-size: 16px;
        width: 100%;
    }
    .hero-img img {
        width: 100%;
    }
    .common {
        padding: 12px 0;
    }
    /* book slider section  */
    .book-slider {
        padding: 50px 0;
    }
    .book-slider-heading h2 {
        font-size: 22px;
    }
    .item-info p {
        font-size: 18px;
        padding: 0 0 8px;
    }
    .img-thumb {
        padding: 50px 32px;
    }
    .our-carousel {
        margin-bottom: 40px;
    }
    /* meet-up section  */
    .meet-up {
        padding: 50px 0;
    }
    .meet-heading h2 {
        font-size: 24px;
    }
    .meet-description p {
        font-size: 16px;
    }
    .my-counte span {
        font-size: 30px;
    }
    .meet-img img {
        width: 100%;
    }
    .book-store {
        padding: 50px 0 0;
    }
    .book-store-heading h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .book-store-heading {
        margin-bottom: 24px;
    }
    .box-menu ul li {
        font-size: 20px;
    }
    .box-img img {
        width: 175px;
    }
    .box-info h3 {
        font-size: 22px;
    }
    .box-info p {
        font-size: 18px;
    }
    /* .refund-section */
    .refund-section {
        padding: 48px 0;
    }
    .default-h h3 {
        font-size: 20px;
    }
    .phone h4, .email h4 {
        font-size: 22px;
    }
    .phone p a, .email p a {
        font-size: 18px;
    }
    .refund img {
        width: 224px;
    }
    
}
