/* Default Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
}
body{
    background-color: #728A7C;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lobster Two', cursive;
    /* font-family: 'Felipa', cursive; */
    /* font-family: 'Kaushan Script', cursive; */
    text-transform: uppercase;
}
a{
    text-decoration: none;
    display: inline-block;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
::selection{
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}

/* Header Section Style */

.menu-area{
    background-color: #fff;
    position: relative;
    z-index: 8;
    padding: 30px 0;
    transition: all 0.2s ease-in-out;
}
.logo{
    width: 16%;
}
.logo img{
    width: 120px;
}
.t-bar{
    width: 84%;
}
.sidebar-toggle-icon{
    display: none;
    height: 24px;
    width: 24px;
    margin-left: auto;
    background-color: transparent;
    padding-top: 8px;
    cursor: pointer;
}
.line {
    height: 2px;
    width: 80%;
    background-color: #000;
    margin-bottom: 4px;
}
.top-bars{
    transform: rotate(45deg);
    margin-top: 5px;
}
.middle-bars{
    opacity: 0;
}
.bottom-bars {
    transform: rotate(-45deg);
    margin-top: -12px;
}
.menu-item{
    width: 80%;
}
.button-end{
    width: 20%;
}
.toggle-item li{
    display: inline-block;
    margin: 0 24px;
}
.toggle-item li:last-child{
    margin-right: 0;
}
.toggle-item li a{
    display: inline-block;
    padding: 8px 0;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    /* position: relative; */
}
.toggle-item li a:hover{
    color: #F5BE27;
}
/* .toggle-item li a:before,
.toggle-item li a.active:before{
    content: '';
    display: block;
    clear:both;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;
    position: absolute;
    left: 50%;
    bottom: 5px;
}
.toggle-item li a:hover:before{
    height: 5px;
    width: 5px;
} */
/* .toggle-item li a.active:before{
    height: 5px;
    width: 5px;
} */
/* .toggle-item li a.active{
    color: rgba(255,255,255, 1);
} */
.button-end .r-btn {
    display: inline-block;
    padding: 11px 14px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #000;
    transition: all 0.3s ease-in-out;
}
.button-end .r-btn:hover{
    background-color: #F5BE27;
}
.menu-sticky {
    position: fixed;
    top: 0;
    width: 100%;
	z-index: 9;
    background-color: #fff;
    padding: 10px 0;
}
/* default-btn  */
.default-btn .arro {
    font-size: 22px;
    padding: 5px 0 10px 30px;
    border: 1px solid #000;
    font-weight: 600;
    border-radius: 3px;
    color: #000;
}
.default-btn .arro span {
    font-size: 30px;
    padding: 7px 30px 12px;
    background-color: #000;
    border-radius: 0 3px 3px 0;
    color: #fff;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
}
.default-btn .arro:hover span {
    background-color: #F5BE27;
}

/* footer section  */

.footer{
    padding-top: 80px;
    background-color: #F8D404;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.footer-logo {
    margin-bottom: 30px;
}
.footer-logo img {
    width: 120px;
}
.footer-link h4,
.footer-contact h4,
.news-letter h4 {
    font-size: 24px;
    margin-bottom: 16px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
.news-letter h4 {
    margin-bottom: 30px;
}
.footer-menu ul li, 
.footer-address ul li{
    line-height: 2;
}
.footer-address .adds{
    font-size: 16px;
    font-weight: 600;
}
.footer-link ul li a,
.footer-address ul li a{
    display: inline-block;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    position: relative;
    transition: all 0.3s linear;

}
.footer-link ul li a:before, 
.footer-address ul li a:before{
    content: '';
    display: block;
    clear: both;
    height: 1px;
    width: 0;
    background-color: #000;
    transition: all 0.3s linear;
    position: absolute;
    bottom: 5px;
    left: 0;
}
.footer-link ul li a:hover:before,
.footer-address ul li a:hover:before {
    width: 100%;
}
.footer-address ul li i{
    margin-right: 5px;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer-social ul li a {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.footer-social ul li a i {
    height: 30px;
    width: 30px;
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    line-height: 30px;
}
.footer-social ul li:hover a i{
    background-color: #F5BE27;
    border: 1px solid #fff;
}
/* .cta-form {
    position: relative;
    z-index: 8;
}
.cta-form form {
	height: 70px;
}
.cta-form input::placeholder {
    color: #000;
}
.cta-form input.exp {
    padding: 12px 0 12px 30px;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #000;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.cta-form input.s-btn {
    font-size: 31px;
    background-color: #000;
    color: #fff;
    padding: 5px 25px 6px;
    border: 1px solid #000;
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out;
}
.cta-form input.s-btn:hover {
    background-color: #F5BE27;
    border-left: 1px solid #F5BE27;
} */
.c-card{
    padding-bottom: 50px;    
}
.master-card img,
.visa-card img{
    width: 60px;
}
.footer-end{
    background-color: #F7CD27;
}
.footer-end-content p {
    font-size: 14px;
    font-weight: 500;
}

/* Responsive  */

@media all and (max-width: 1200px){
    .toggle-item li {
        margin: 0 20px;
    }
}
@media all and (max-width: 991px){
    .sidebar-toggle-icon{
        display: block;
    }
    .main-menu{
        height: 100%;
        position: fixed;
        right: -250px;
        top: 59px;
        padding-top: 20px;
        width: 250px;
        z-index: 9;
        background-color: #fff;
        transition: all 0.3s linear;
    }
    .rightt{
        right: 0;
    }
    .toggle-item li{
        display: block;
        margin: 0;
    }
    .menu-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .button-end {
        width: 100%;
    }
    .menu-sticky {
        padding: 16px 0;
    }
    .default-h h3 {
        font-size: 32px;
    }
    /* footer section  */
    .footer {
        padding-top: 50px;
    }
}
@media all and (max-width: 767px){
    .logo {
        width: 30%;
    }
    .t-bar {
        width: 70%;
    }
}
@media all and (max-width: 575px){
    .logo {
        width: 50%;
    }
    .default-h h3 {
        font-size: 24px;
    }
    .t-bar {
        width: 50%;
    }
    
    .footer-logo a {
        font-size: 26px;
    }
    .footer-link h4,
    .footer-contact h4,
    .news-letter h4,
    .cta-form input.exp {
        font-size: 18px;
    }
    .cta-form input.s-btn {
        font-size: 27px;
        padding: 5px 25px 5px;
    }
}
@media all and (max-width: 480px){
    .default-btn .arro {
        font-size: 18px;
    }
}